<mat-toolbar class="sticky-header" color="primary">
  <nav>
    <button mat-button routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Rate de schimb</button>
    <button mat-button routerLink="transaction-list" routerLinkActive="active-link" >Lista tranzacții</button>
    <button mat-button routerLink="add-transaction" routerLinkActive="active-link" >Adaugă tranzacții</button>
    <button mat-button routerLink="inventory-list" routerLinkActive="active-link" >Lista inventariere</button>
  </nav>
</mat-toolbar>
